Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h*
config.log
config.status
configure
libtool
scripts/
stamp-h1
*.pc
*.o
*.lo
*.la
.deps
.libs
.tags

vs2012/Debug
*.vcxproj.user
*.suo
*.sdf
*.opensdf